.fim {
    width: 100vw;
    z-index: 2;
    height: 10rem;
    position: absolute;
    bottom: 0;
  }

.rodape {
    width: 100vw;
    height: 8rem;
    display: flex
    ;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  }
  
  .rodape p {
    font-family: "Share Tech", serif;
    color: white;
    font-size: 7rem;
    margin: 0;
  }

  .rodape img {
    margin-left: 3rem;
    width: 4rem;
  }

  .redes {
    margin-right: 4rem;
  }